@font-face{
    font-family: cattyla;
    src: url(../fonts/Cattyla.ttf)
}

body{
    font-size: 16px;
}


h1{
    font-family: cattyla;
    font-size: 1.8em;
    text-align:center;
    color:#27153c;
    padding: 22px 0px 0px;

}

h2{
    color:#f0e5e5;
    font-size:0.7em;
}

h5{
    font-size:0.5em;
}


/* Responsive -----------------------------------------------------*/
@media (max-width: 780px){
    h2 {
        font-size: 0.6em;
    }

    button{
        margin: 18px 0px 8px;
        height: 26px;
        font-size: 0.6em
    }

}  
@media (max-width: 506px){

    h1{
        font-size: 3em;
        padding: 2px;
    }
    h2 {
        font-size: 0.8em;
    }
    h5{
        font-size: 0.8em;
    }
    button{
        margin: 26px 0px 9px;
        height: 46px;
        font-size: 1.1em;
    }

} 
@media (max-width: 268px){

    button{
        margin: 11px 0px 9px;
        height: 26px;
        font-size: 0.6em;
    }

} 
