@font-face{
    font-family: cattyla;
    src: url(/assets/fonts/Cattyla.ttf)
}

body{
    font-size: 16px;
}


h1{
    font-family: cattyla;
    font-size: 2.5em;;
    text-align:center;
    color:#27153c;

}

h2{
    color:#f0e5e5;
    font-size:0.8em;
}


/* Responsive -----------------------------------------------------*/
@media (max-width: 506px){

    h1{
        font-size: 0.8em;
        padding: 42px;
    }
    h2 {
        font-size: 0.6em;;
    }
} 
